In [15]:
import pandas as pd
import numpy as np

In [16]:
d1 = pd.read_csv("/home/machine/Downloads/ML-Lab/Datasets/iris.csv", on_bad_lines='skip')

In [17]:
d1.head()

    SL   SW   PL   PW      SPECIES
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [21]:
X = d1.drop('SPECIES', axis=1) # take everything except species
y = d1.SPECIES # only species label

In [25]:
# X.head()
y.head(100)

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
           ...
95    Iris-versicolor
96    Iris-versicolor
97    Iris-versicolor
98    Iris-versicolor
99     Iris-virginica
Name: SPECIES, Length: 100, dtype: object